<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="./statics/bootstrap.min.css" rel="stylesheet">
    <script src="./statics//bootstrap.bundle.min.js"></script>

    <title>Document</title>
</head>
<body>
    <div class="h-100 d-flex justify-content-center align-items-center">
        <h1 class="display-1">
            404 not found!
        </h1>
    </div>
</body>
</html>